{% if address_error %}
    <div class="layout layout--col layout--stretch-x text--center error">
        <div>
            <div class="image image-stroke">{{ error_logo }}</div>
            <div class="title title--large error">Well this is awkward</div>
            <div class="value value--xsmall error">Unable to find '{{ original_address }}'. <br>Please check your plugin
                settings.
            </div>
        </div>
{% elsif schedule_error %}
    <div class="layout layout--col layout--stretch-x text--center error">
        <div>
            <div class="image image-stroke">{{ error_logo }}</div>
            <div class="title title--large error">Well this is awkward</div>
            <div class="value value--xsmall error">Unable to find your bin collection schedule. <br>Please check your plugin API
                settings.
            </div>
        </div>
    </div>
{% else %}
    {% if collection_tomorrow %}
        <div class="layout layout--col layout--stretch-x text--center tomorrow">
            <div>
                <div class="title title--large tomorrow">Your bin collection is tomorrow!</div>
                <br>
                <div class="value value--xxsmall tomorrow"> Make sure you put your bins out by 5:30am tomorrow</div>
            </div>
        </div>
    {% elsif collection_today %}
        <div class="layout layout--col layout--stretch-x text--center today">
            <div>
                <div class="title title--large today">Bin collection day</div>
                <br>
                <div class="value value--xxsmall today"> Make sure you bring your bins back in<br><br>Report a missed collection or
                    problem
                    at tinyurl.com/bne-bin</div>
            </div>
        </div>
    {% else %}
        <div class="layout layout--col layout--stretch-x text--center later">
            <div>
                <div class="title title--large later">Your bin collection is {% if next_week_collection %} next {% else %} this {% endif %}{{ collection_day | capitalize }}</div>
            </div>
        </div>
    {% endif %}

    <div class="layout layout--row layout--stretch-x text--center">
        <div class="red">
            <div class="image image-stroke">{{ waste_logo }}</div>
            <div class="title mb--2">RED LID</div>
            <div class="value value--xsmall">General Waste</div>
        </div>
        {% if recycling_week %}
        <div class="yellow">
            <div class="image image-stroke">{{ recycling_logo }}</div>
            <div class="title mb--2">YELLOW LID</div>
            <div class="value value--xsmall">Recycling</div>
        </div>
        {% endif %}

        {% if green_waste_week %}
        <div class="green">
            <div class="image image-stroke">{{ garden_waste_logo }}</div>
            <div class="title mb--2">GREEN LID</div>
            <div class="value value--xsmall">Garden Waste</div>
        </div>
        {% endif %}
    </div>
{% endif %}

<div class="title_bar">
    <div class="image image-stroke">{{ title_logo }}</div>
    <span class="title">BNE BIN</span>
    <span class="instance">{{ address }} </span>
</div>